m.danlu.com/evn_cfg/cfg.php
danlu.com/evn_cfg/cfg.php
common/page_generator/smarty/templates
common/businessCfg/activity.json
danlu.com/dlmain
m.danlu.com/dlmobile
danlu.com/evn_cfg/cfg.php
.idea